@import '../../assets/style/vari'

.slidelist
  z-index 11
  position absolute
  .cover
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0,0,0,.7)
.slidelist_wrap
  transition transform 0.5s
  position fixed
  left 0
  top 0
  bottom 0
  width 18.125rem
  background-color #fff
.slidelist_header
  background-color main_bc
  height 6.5rem
  padding 0.9375rem
  color #fff
.slidelist_header_info
  display flex
  height 1.875rem
  line-height 1.875rem
  img
    height 100%
    width auto
    margin-right 1.25rem
    border-radius 0.9375rem
.slidelist_function
  margin-top 1.5625rem
  padding 0 1.25rem
  i
    font-size 1rem
    margin-right 0.9375rem
.slidelist_function_item
  display flex
  font-size 0.75rem
  height 1.25rem
  line-height 1.25rem
.slidelist_list
  overflow-y auto
  padding 1.25rem
  font-size 0.75rem
  height calc(100vh - 6.5rem)
  li
    display flex
    justify-content space-between
    height 3.125rem
    line-height 3.125rem
    color #2c3e50
    i
      color #868686
      font-size 1rem
.slidelist_list_first
  display flex 
  color main_bc
  font-size 1rem
  i
    font-size 1.5rem
    margin-right 0.75rem