@import '../../assets/style/vari'

.artical_banner
  position relative
  height 12.5rem
  overflow hidden
  color #fff
  img
    width 100%
    height auto
    margin-top calc((12.5rem - 100vw) / 2)
.artical_title
  position absolute
  bottom 0
  height 5rem
  width 100%
  background-image linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,.1) 40%,rgba(0,0,0,.1))
  background-image -webkit-linear-gradient(bottom,rgba(0,0,0,.7),rgba(0,0,0,.1) 40%,rgba(0,0,0,.1))
  h2
    position absolute
    padding 0 1.25rem
    bottom 1.25rem
    font-size 1.125rem
    font-weight 100
  span
    position absolute
    bottom 0.5rem
    right 1.25rem
    font-size 0.625rem
.artical_bottom
  padding 1.25rem
  .btn
    width 18.75rem
    margin 0 auto
    text-align center
    background-color main_bc
    height 1.875rem
    line-height 1.875rem
    color #fff
    border-radius 0.3125rem