.list
  padding 10px 5px 0
  color #2c3e50
  .title
    color #76787e
    line-height 20px
    // height 20px
    font-size 16px
    font-weight 100
    margin 12px 15px
a
  color #2c3e50
.list_item
  display flex
  justify-content space-between
  background-color #fff
  min-height 95px
  margin 12px 5px
  padding 13px
.list_item_left
  width 240px
.list_item_right
  width 70px
  img
    width 100%
    height auto
