.list
  padding 0.625rem 0.3125rem 0
  color #2c3e50
  .title
    color #76787e
    line-height 1.25rem
    // height 20px
    font-size 1rem
    font-weight 100
    margin 0.75rem 0.9375rem
a
  color #2c3e50
.list_item
  display flex
  justify-content space-between
  background-color #fff
  min-height 5.9375rem
  margin 0.75rem 0.3125rem
  padding 0.8125rem
.list_item_left
  width 15rem
.list_item_right
  width 4.375rem
  img
    width 100%
    height auto
