@import '../../assets/style/vari'

.head
  display flex
  justify-content space-between
  height 3.125rem
  background-color main_bc
  color #fff
  line-height 3.125rem
  padding 0 0.625rem
.head_icon
  i
    font-size 2rem
.head_title
  margin-left 0.625rem
.head_icon_wrap
  display flex
  i
    font-size 24px
    margin-right 5px
    span
      font-size 20px
  .icon-share
    margin-right 30px
