@import '../../assets/style/vari'

.head
  position fixed
  top 0
  width 100%
  z-index 10
  display flex
  justify-content space-between
  height 3.125rem
  background-color main_bc
  color #fff
  line-height 3.125rem
  padding 0 0.625rem
.head_icon
  i
    font-size 2rem
.head_title
  margin-left 0.625rem
  flex 1
.head_icon_wrap
  display flex
  i
    font-size 1.5rem
    margin-right 0.3125rem
    span
      font-size 1.25rem
  .icon-share
    margin-right 1.875rem
